@each $key, $value in $themeColors {
  .color-#{$key} {
    h1, h2, h3, h4, h5, h6,
    .nav [type="button"], .nav a,
    #logo .sitetitle, #logo h1, #logo .sitetitle a, #logo h1 a,
    #content blockquote p, #tinymce blockquote p, #content blockquote:before,
    .post-meta {
      color: setStyle($themeColors, $key, colorPrimary)
    }
    a {
      color: setStyle($themeColors, $key, colorPrimary);
      &:active, &:focus, &:hover {
        color: setStyle($themeColors, $key, PalettonDunkelste)
      }
    }
    cite {
      color: setStyle($themeColors, $key, colorPrimaryHeroLight);
    }
    blockquote cite, blockquote small {
      color: #797676;
    }
    table tr:nth-child(2n+1) td {
      color:setStyle($themeColors, $key, PalettonDunkelste);
    }
    input[type="submit"] {
      background-color: setStyle($themeColors, $key, colorPrimary);
      border-color: setStyle($themeColors, $key, colorPrimary);
      &:focus,
      &:hover {
        background-color: #fff;
        color: setStyle($themeColors, $key, colorPrimary);
      }
    }

    #logo .sitetitle, #logo h1, #logo .sitetitle a, #logo h1 a {
      @media (max-width: $screen-xs-max) {
        color: #fff;
      }
    }
    &:not(.md-showsitelogo) #header {
      @media (max-width: $screen-xs-max) {
        background-color: setStyle($themeColors, $key, colorPrimary) !important;
      }
    }
    #hero.hero-banner,
    #hero.hero-small {
      background-color: setStyle($themeColors, $key, colorPrimary);
      background: url(img/#{setStyle($themeColors, $key, watermark)}) no-repeat 95% bottom,#036;
      background: url(img/#{setStyle($themeColors, $key, watermark)}) no-repeat 95% bottom,radial-gradient(ellipse at center, setStyle($themeColors, $key, colorPrimaryHeroLight) 0, setStyle($themeColors, $key, colorPrimaryHero) 100%);
    }
    &.no-watermark {
      #hero.hero-banner,
      #hero.hero-small {
        background: radial-gradient(ellipse at center, setStyle($themeColors, $key, colorPrimaryHeroLight) 0, setStyle($themeColors, $key, colorPrimaryHero) 100%);
      }
    }
    .hero-meta-portal {
      color: setStyle($themeColors, $key, colorPrimaryHeroLight)
    }
    .banner .banner-text {
      h1,
      p.sitetitle,
      p.description {
        background: rgba(setStyle($themeColors, $key, colorPrimary), 0.8);
      }
    }
    .nav {
      .nav-flyout {
        background: setStyle($themeColors, $key, colorPrimary)
      }
      .button-portal {
        background: setStyle($themeColors, $key, PalettonDunkelste);
        color: #fff;
        &:focus, &:hover {
          background: setStyle($themeColors, $key, PalettonDunkler);
        }
      }
      & > li {
        &.has-sub:hover > a,
        & > [type="button"]:focus,
        & > [type="button"]:hover,
        & > [type="button"][aria-expanded="true"],
        & > a:focus,
        & > a:hover {
          background: setStyle($themeColors, $key, colorPrimary);
        }
      }
      ul a {
        color: #fff;
        &:focus, &:hover {
          background: setStyle($themeColors, $key, PalettonDunkelste);
        }
      }
      .level2 > li > a {
        border-bottom: 1px solid setStyle($themeColors, $key, PalettonDunkelste);
      }
    }
    .nav-links a,
    .nav-links span {
      background: setStyle($themeColors, $key, colorPrimary);
      border: 1px solid setStyle($themeColors, $key, colorPrimary);
      color: #fff;
      a:hover, a:focus {
        background: setStyle($themeColors, $key, PalettonDunkler);
      }
      .current {
        border: 1px solid #dfe6ec;
        color: #fff;
      }
    }
    .pagination.pagebreaks .subpages a .number {
      background: setStyle($themeColors, $key, colorPrimary);
      border: 1px solid setStyle($themeColors, $key, colorPrimary);
    }
    .news-more-links .news-more {
      background: setStyle($themeColors, $key, colorPrimary);
    }
    .widget_nav_menu ul li {
      background: setStyle($themeColors, $key, PalettonHellste);
      li {
        background-color: darken(setStyle($themeColors, $key, PalettonHellste), 3%);
        li {
          background-color: darken(setStyle($themeColors, $key, PalettonHellste), 6%);
        }
      }
      &:focus a, &:hover a {
        color: setStyle($themeColors, $key, PalettonDunkelste);
      }
    }
    #footer, #footer address, #footer p, .top-link {
      background: setStyle($themeColors, $key, colorPrimary);
    }
    // RRZE-Elements
    .accordion .accordion-group .accordion-heading .accordion-toggle {
      border-left-color: setStyle($themeColors, $key, colorPrimary);
      &:focus, &:hover {
        background-color: darken(setStyle($themeColors, $key, PalettonHellste), 3%);
      }
    }
  }
}